<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!-- add your targets here -->


    <target name="console"
            xsi:type="ColoredConsole"
            layout="${logger:shortName=true}: ${message} [${level:uppercase=true}]"/>
     <target name="file" 
            xsi:type="File"
            lineEnding="CRLF"
            fileName="Caruso.log"/>
  </targets>

  <rules>
    <!-- add your logging rules here -->
    

    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="file" />

  </rules>
</nlog>